<main>
<h1>
  Auto-pause video players
</h1>

<article>
  <p>
  Occaecat aliqua reprehenderit dolore cillum occaecat dolor velit ut labore commodo velit deserunt mollit. Esse velit ex ea minim dolore deserunt esse proident exercitation consequat esse eiusmod ipsum. Proident id fugiat minim occaecat incididunt culpa deserunt incididunt minim. Incididunt ad amet adipisicing aliquip. Nisi consectetur duis cillum amet Lorem aliquip enim ullamco aliquip. Velit commodo veniam proident culpa cillum dolor sit occaecat enim consequat do. Irure sit non incididunt nisi consequat do velit nostrud. Nulla nisi enim minim nostrud ad ad duis culpa irure laboris dolor labore.
  </p>


  <video
    src="https://commondatastorage.googleapis.com/gtv-videos-bucket/sample/ElephantsDream.mp4"
    controls
    preload="metadata"
    data-controller="video"
    data-video-percentage-visible-value="50">
  </video>



  <p>
Elit fugiat non aute ad. Anim velit aliqua amet dolor dolore voluptate enim proident anim enim amet. In mollit sint dolor ut nostrud nostrud voluptate ut sunt qui sit non ea. Sint adipisicing ipsum laborum est velit anim ex irure dolor incididunt. In excepteur consectetur non do. In cupidatat aute dolore mollit officia nisi nulla sint. Aliquip aliqua irure consectetur id aliqua do. Et id amet sunt.
  </p>



  <p>
Culpa reprehenderit elit qui proident tempor aliqua fugiat esse duis adipisicing pariatur ipsum quis deserunt nostrud. Magna exercitation ullamco id dolore do anim. Id fugiat id ullamco ex ea do duis consectetur. Ut consectetur magna ut culpa adipisicing quis excepteur officia incididunt Lorem commodo nostrud voluptate amet. Nulla consequat pariatur qui magna nisi sit quis elit labore nisi.
  </p>



  <h2>Consequat Lorem ex aute aute</h2>
  <p>
Esse enim ad Lorem occaecat ut veniam minim veniam. Consequat Lorem ex aute aute. Ipsum esse commodo velit commodo deserunt id sit cillum id. Veniam nisi cupidatat ex in reprehenderit id. Id ex cillum quis. Laboris laboris amet occaecat ex enim labore est veniam sunt duis.
  </p>



  <p>
Velit do ut ad ea cupidatat nostrud ea eu pariatur sint ipsum aliquip sunt sunt in. Consectetur laborum cupidatat elit culpa anim occaecat eiusmod magna velit esse ut eu qui consequat. Pariatur ea dolore officia sint sit excepteur cillum. Cupidatat commodo officia ex.
  </p>


  <p>
Non non cillum laborum ipsum laboris. Consequat adipisicing exercitation cupidatat sit. Sint laboris consectetur ad. Nostrud exercitation in anim laborum velit ad sunt duis nisi. Quis veniam deserunt exercitation sint mollit minim velit nostrud dolor labore irure amet. Est est exercitation eu. Commodo pariatur voluptate est laboris reprehenderit.
  </p>



  <p>
In voluptate reprehenderit ipsum ullamco commodo quis in aute ipsum consequat nostrud. Veniam voluptate officia dolor est aute ad magna ea cillum pariatur enim reprehenderit laborum velit ex. Et anim cupidatat laborum sit velit ad ut irure. Ut id deserunt sunt officia reprehenderit adipisicing excepteur sint sit officia exercitation. Irure ut ipsum pariatur sit laboris mollit eu officia aute dolor ad. Reprehenderit qui mollit consequat non ad magna laboris est anim officia exercitation velit in dolore. Laborum do culpa incididunt laboris ut et est Lorem reprehenderit ut fugiat commodo.
  </p>



  <h2>Qui in incididunt nisi commodo</h2>
  <p>
Officia anim adipisicing quis excepteur mollit tempor non labore. Qui in incididunt nisi commodo tempor dolor veniam velit eu et. Amet qui dolor ex enim. Lorem id proident tempor veniam officia dolor magna ullamco id ea ad ut.
  </p>



  <p>
Occaecat ex aliquip ea est pariatur aliquip eu. Incididunt sunt et id dolor minim laboris ad exercitation sint. Est nostrud veniam elit aute. Exercitation sunt et do adipisicing. Cillum et quis ipsum enim labore.
  </p>



  <h2>YouTube Videoplayer</h2>
  <p>
Esse est veniam voluptate consectetur consequat ullamco laboris non. Eiusmod ut magna magna. Id veniam anim aute ipsum veniam velit incididunt elit velit mollit nostrud cillum consectetur aliqua. Dolore commodo occaecat in enim exercitation sunt pariatur sit.
  </p>

  <div data-controller="youtube" data-youtube-percentage-visible-value="20">
    <iframe
      data-youtube-target="player"
      src="https://www.youtube.com/embed/dQw4w9WgXcQ?enablejsapi=1"
      frameborder="0"
      allowfullscreen
    ></iframe>
  </div>

  <p>
Elit fugiat non aute ad. Anim velit aliqua amet dolor dolore voluptate enim proident anim enim amet. In mollit sint dolor ut nostrud nostrud voluptate ut sunt qui sit non ea. Sint adipisicing ipsum laborum est velit anim ex irure dolor incididunt. In excepteur consectetur non do. In cupidatat aute dolore mollit officia nisi nulla sint. Aliquip aliqua irure consectetur id aliqua do. Et id amet sunt.
  </p>



  <p>
Culpa reprehenderit elit qui proident tempor aliqua fugiat esse duis adipisicing pariatur ipsum quis deserunt nostrud. Magna exercitation ullamco id dolore do anim. Id fugiat id ullamco ex ea do duis consectetur. Ut consectetur magna ut culpa adipisicing quis excepteur officia incididunt Lorem commodo nostrud voluptate amet. Nulla consequat pariatur qui magna nisi sit quis elit labore nisi.
  </p>



  <h2>Consequat Lorem ex aute aute</h2>
  <p>
Esse enim ad Lorem occaecat ut veniam minim veniam. Consequat Lorem ex aute aute. Ipsum esse commodo velit commodo deserunt id sit cillum id. Veniam nisi cupidatat ex in reprehenderit id. Id ex cillum quis. Laboris laboris amet occaecat ex enim labore est veniam sunt duis.
  </p>



  <p>
Velit do ut ad ea cupidatat nostrud ea eu pariatur sint ipsum aliquip sunt sunt in. Consectetur laborum cupidatat elit culpa anim occaecat eiusmod magna velit esse ut eu qui consequat. Pariatur ea dolore officia sint sit excepteur cillum. Cupidatat commodo officia ex.
  </p>


  <p>
Non non cillum laborum ipsum laboris. Consequat adipisicing exercitation cupidatat sit. Sint laboris consectetur ad. Nostrud exercitation in anim laborum velit ad sunt duis nisi. Quis veniam deserunt exercitation sint mollit minim velit nostrud dolor labore irure amet. Est est exercitation eu. Commodo pariatur voluptate est laboris reprehenderit.
  </p>



  <p>
In voluptate reprehenderit ipsum ullamco commodo quis in aute ipsum consequat nostrud. Veniam voluptate officia dolor est aute ad magna ea cillum pariatur enim reprehenderit laborum velit ex. Et anim cupidatat laborum sit velit ad ut irure. Ut id deserunt sunt officia reprehenderit adipisicing excepteur sint sit officia exercitation. Irure ut ipsum pariatur sit laboris mollit eu officia aute dolor ad. Reprehenderit qui mollit consequat non ad magna laboris est anim officia exercitation velit in dolore. Laborum do culpa incididunt laboris ut et est Lorem reprehenderit ut fugiat commodo.
  </p>



  <h2>Qui in incididunt nisi commodo</h2>
  <p>
Officia anim adipisicing quis excepteur mollit tempor non labore. Qui in incididunt nisi commodo tempor dolor veniam velit eu et. Amet qui dolor ex enim. Lorem id proident tempor veniam officia dolor magna ullamco id ea ad ut.
  </p>



  <p>
Occaecat ex aliquip ea est pariatur aliquip eu. Incididunt sunt et id dolor minim laboris ad exercitation sint. Est nostrud veniam elit aute. Exercitation sunt et do adipisicing. Cillum et quis ipsum enim labore.
  </p>


  <p>
Esse est veniam voluptate consectetur consequat ullamco laboris non. Eiusmod ut magna magna. Id veniam anim aute ipsum veniam velit incididunt elit velit mollit nostrud cillum consectetur aliqua. Dolore commodo occaecat in enim exercitation sunt pariatur sit.
  </p>
</article>
</main>
</article>
</main>
