* { margin: 0; padding: 0; box-sizing: border-box; }

main {
  max-width: clamp(320px, 70ch, 1440px);
  margin-block-start: 12rem;
  margin-inline: auto;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
}

video {
  margin-block: 1.5rem;
  max-width: 100%;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

p {
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 150%;

  & + p {
    margin-block-start: 1.5rem;
  }
}

p + :where(h1, h2, h3, h4, h5, h6) {
  margin-block-start: 2rem;
}
